.imp-wrap {
    position: relative;
}

.hs-loader-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imp-wrap > img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.imp-shape-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.imp-shape {
    cursor: pointer;
    pointer-events: all;
    transition: all 0.25s cubic-bezier(.55,0,.1,1);
    -moz-transition: all 0.25s cubic-bezier(.55,0,.1,1);
    -webkit-transition: all 0.25s cubic-bezier(.55,0,.1,1);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.imp-shape-spot, .imp-shape-rect, .imp-shape-oval {
    position: absolute;
}

.imp-shape-poly svg {

}

.imp-shape-icon-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    transform: scale(1, 0.25);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.53+0,0.3+10,0.13+28,0.04+44,0+67 */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.53) 0%, rgba(0,0,0,0.3) 10%, rgba(0,0,0,0.13) 28%, rgba(0,0,0,0.04) 44%, rgba(0,0,0,0) 67%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.53) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0.13) 28%,rgba(0,0,0,0.04) 44%,rgba(0,0,0,0) 67%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.53) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0.13) 28%,rgba(0,0,0,0.04) 44%,rgba(0,0,0,0) 67%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.imp-shape img {
    width: 100%;
}

.imp-tooltip {
    position: absolute;
    z-index: 1;

    transition-property: none;
    -moz-transition-property: none;
    -webkit-transition-property: none;

    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;

    transition-timing-function: cubic-bezier(.55,0,.1,1);
    -moz-transition-timing-function: cubic-bezier(.55,0,.1,1);
    -webkit-transition-timing-function: cubic-bezier(.55,0,.1,1);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.imp-tooltip.imp-tooltip-visible {
    opacity: 1 !important;
    z-index: 3;
    transform: scale(1, 1) !important;
    -moz-transform: scale(1, 1) !important;
    -webkit-transform: scale(1, 1) !important;
}

.hs-arrow {
    position: absolute;
}

.hs-arrow-top {
    left: 50%;
    top: 0;
    margin-left: -10px;
    margin-top: -10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-bottom: 10px solid black;
}

.hs-arrow-bottom {
    left: 50%;
    top: 100%;
    margin-left: -10px;
    margin-top: 0;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-top: 10px solid black;
}

.hs-arrow-right {
    left: 100%;
    top: 50%;
    margin-left: 0;
    margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-left: 10px solid black;
}

.hs-arrow-left {
    left: 0;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-right:10px solid black;
}

.imp-tooltip-buffer {
    position: absolute;
    cursor: pointer;
}

.imp-tooltip-buffer-top {
    left: 0;
    top: -20px;
    width: 100%;
    height: 20px;
}
.imp-tooltip-buffer-bottom {
    left: 0;
    top: 100%;
    width: 100%;
    height: 20px;
}
.imp-tooltip-buffer-left {
    left: -20px;
    top: 0;
    width: 20px;
    height: 100%;
}
.imp-tooltip-buffer-right {
    left: 100%;
    top: 0;
    width: 20px;
    height: 100%;
}

.imp-tooltip-buffer-top.imp-tooltip-buffer-large {
    left: 0;
    top: -60px;
    width: 100%;
    height: 60px;
}
.imp-tooltip-buffer-bottom.imp-tooltip-buffer-large {
    left: 0;
    top: 100%;
    width: 100%;
    height: 60px;
}
.imp-tooltip-buffer-left.imp-tooltip-buffer-large {
    left: -60px;
    top: 0;
    width: 60px;
    height: 100%;
}
.imp-tooltip-buffer-right.imp-tooltip-buffer-large {
    left: 100%;
    top: 0;
    width: 60px;
    height: 100%;
}

/* fullscreen tooltips */
.imp-fullscreen-tooltips-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: 2147483647;
}
.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    transition-property: none;
    -moz-transition-property: none;
    -webkit-transition-property: none;

    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;

    transition-timing-function: cubic-bezier(.55,0,.1,1);
    -moz-transition-timing-function: cubic-bezier(.55,0,.1,1);
    -webkit-transition-timing-function: cubic-bezier(.55,0,.1,1);
}
.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip.imp-tooltip-visible {
    opacity: 1 !important;
    z-index: 3;
    transform: scale(1, 1) !important;
    -moz-transform: scale(1, 1) !important;
    -webkit-transform: scale(1, 1) !important;
}
.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip .imp-tooltip-close-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    color: white;
    cursor: pointer;
    z-index: 99;
}
